In [1]:

import pandas as pd
import numpy as np
import os

#Loading the dataset

# df=pd.read_csv("C:/Users/Eeshwari/Desktop/GreatLearning/retail_data.csv",encoding='latin-1') #can be done both ways
#Data has encoding problem 
df=pd.read_csv("retail_data.csv",encoding='latin-1')
df

,Month,Enquiry Date,Enquiry Id,Allocation Status,Status,State,City,Pincode,Type of Project,No of Windows,...,Aesthetics,Reduce Street Noise,Low Maintenance,Monsoon Proof,Better Lighting,Reduce AC Energy Cost,Unnamed: 40,Unnamed: 41,Unnamed: 42,
0,April'16,02-Apr-16,EC02041646800,Dealer,Won,TAMILNADU,CHENNAI,600008,Renovation,6 to 10,...,1.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,April'16,08-Apr-16,EC08041647157,Dealer,Lost,TAMILNADU,CHENNAI,600042,New Construction,6 to 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,April'16,08-Apr-16,EC08041647130,Dealer,Lost,TAMILNADU,CHENNAI,600015,New Construction,1 to 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,April'16,09-Apr-16,EC09041647202,Direct,Lost,TAMILNADU,KANCHIPURAM,600075,New Construction,21 to 40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April'16,11-Apr-16,EC11041647360,Direct,Won,TAMILNADU,CHENNAI,600041,Renovation,6 to 10,...,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Jan'17,21-Jan-17,EC21011770512,Dealer,Lost,TAMILNADU,CHENNAI,600014,Renovation,11 to 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Jan'17,23-Jan-17,EC24011770882,Direct,Won,TAMILNADU,CHENNAI,600015,Renovation,1 to 5,...,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
226,Jan'17,26-Jan-17,EC26121667587,Direct,?,TAMILNADU,CHENNAI,600119,Renovation,1 to 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Jan'17,27-Jan-17,EC27011771169,Dealer,Lost,TAMILNADU,CHENNAI,600082,Renovation,1 to 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Jan'17,27-Jan-17,EC27011771160,Direct,Lost,TAMILNADU,KANCHIPURAM,600089,New Construction,1 to 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.isnull().sum() #used for data cleaning- Gives the Null values present in each column

Month                                          0
Enquiry Date                                   0
Enquiry Id                                     0
Allocation Status                              0
Status                                         0
State                                          0
City                                           0
Pincode                                        0
Type of Project                                0
No of Windows                                  0
Source                                         0
Zone                                           0
Dealer Name                                    0
First Action-Call made                         0
Date DD/MM/YY                                  0
First Action-Call Status                       0
Date of Appointment (DD/MM/YY)                37
Second Action-Customer Meeting                37
Date DD/MM/YY.1                               37
Second Action-Call Status                     38
Third Action-Quote Given                      40
Date DD/MM/YY.2                               41
Q Val. (Rs. Lac)                              46
Quote QTY                                     46
 Order Recd\Lost                               0
Date DD/MM/YY.3                              181
Order Val. (Rs. Lac)                         181
Order QTY                                    181
Quote ID (as per match to CCC Records)       113
 Remarks-Brand and value if lost to UPVC     106
Second Action-Call Status.1                  229
Remarks                                       58
Price Per Sft                                  6
Benefits                                     176
Aesthetics                                   192
Reduce Street Noise                          192
Low Maintenance                              192
Monsoon Proof                                192
Better Lighting                              192
Reduce AC Energy Cost                        192
Unnamed: 40                                  229
Unnamed: 41                                  229
Unnamed: 42                                  229
                                             229
dtype: int64

In [3]:
df.isnull().sum()/len(df) *100 #percentage of Null in each column

Month                                          0.000000
Enquiry Date                                   0.000000
Enquiry Id                                     0.000000
Allocation Status                              0.000000
Status                                         0.000000
State                                          0.000000
City                                           0.000000
Pincode                                        0.000000
Type of Project                                0.000000
No of Windows                                  0.000000
Source                                         0.000000
Zone                                           0.000000
Dealer Name                                    0.000000
First Action-Call made                         0.000000
Date DD/MM/YY                                  0.000000
First Action-Call Status                       0.000000
Date of Appointment (DD/MM/YY)                16.157205
Second Action-Customer Meeting                16.157205
Date DD/MM/YY.1                               16.157205
Second Action-Call Status                     16.593886
Third Action-Quote Given                      17.467249
Date DD/MM/YY.2                               17.903930
Q Val. (Rs. Lac)                              20.087336
Quote QTY                                     20.087336
 Order Recd\Lost                               0.000000
Date DD/MM/YY.3                               79.039301
Order Val. (Rs. Lac)                          79.039301
Order QTY                                     79.039301
Quote ID (as per match to CCC Records)        49.344978
 Remarks-Brand and value if lost to UPVC      46.288210
Second Action-Call Status.1                  100.000000
Remarks                                       25.327511
Price Per Sft                                  2.620087
Benefits                                      76.855895
Aesthetics                                    83.842795
Reduce Street Noise                           83.842795
Low Maintenance                               83.842795
Monsoon Proof                                 83.842795
Better Lighting                               83.842795
Reduce AC Energy Cost                         83.842795
Unnamed: 40                                  100.000000
Unnamed: 41                                  100.000000
Unnamed: 42                                  100.000000
                                             100.000000
dtype: float64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 44 columns):
Month                                        229 non-null object
Enquiry Date                                 229 non-null object
Enquiry Id                                   229 non-null object
Allocation Status                            229 non-null object
Status                                       229 non-null object
State                                        229 non-null object
City                                         229 non-null object
Pincode                                      229 non-null int64
Type of Project                              229 non-null object
No of Windows                                229 non-null object
Source                                       229 non-null object
Zone                                         229 non-null object
Dealer Name                                  229 non-null object
First Action-Call made                       229 non-null object
Date DD/MM/YY                                229 non-null object
First Action-Call Status                     229 non-null object
Date of Appointment (DD/MM/YY)               192 non-null object
Second Action-Customer Meeting               192 non-null object
Date DD/MM/YY.1                              192 non-null object
Second Action-Call Status                    191 non-null object
Third Action-Quote Given                     189 non-null object
Date DD/MM/YY.2                              188 non-null object
Q Val. (Rs. Lac)                             183 non-null float64
Quote QTY                                    183 non-null object
 Order Recd\Lost                             229 non-null object
Date DD/MM/YY.3                              48 non-null object
Order Val. (Rs. Lac)                         48 non-null float64
Order QTY                                    48 non-null float64
Quote ID (as per match to CCC Records)       116 non-null object
 Remarks-Brand and value if lost to UPVC     123 non-null object
Second Action-Call Status.1                  0 non-null float64
Remarks                                      171 non-null object
Price Per Sft                                223 non-null float64
Benefits                                     53 non-null object
Aesthetics                                   37 non-null float64
Reduce Street Noise                          37 non-null float64
Low Maintenance                              37 non-null float64
Monsoon Proof                                37 non-null float64
Better Lighting                              37 non-null float64
Reduce AC Energy Cost                        37 non-null float64
Unnamed: 40                                  0 non-null float64
Unnamed: 41                                  0 non-null float64
Unnamed: 42                                  0 non-null float64
                                             0 non-null float64
dtypes: float64(15), int64(1), object(28)
memory usage: 78.8+ KB

In [5]:
#changes the values of int/float to strings/bool and viceversa


# df[''].astype('category')

# df['Enquiry Date'].astype('category')

In [6]:
df.columns

Index(['Month', 'Enquiry Date', 'Enquiry Id', 'Allocation Status', 'Status',
       'State', 'City', 'Pincode', 'Type of Project', 'No of Windows',
       'Source', 'Zone', 'Dealer Name', 'First Action-Call made',
       'Date DD/MM/YY', 'First Action-Call Status',
       'Date of Appointment (DD/MM/YY)', 'Second Action-Customer Meeting',
       'Date DD/MM/YY.1', 'Second Action-Call Status',
       'Third Action-Quote Given', 'Date DD/MM/YY.2', 'Q Val. (Rs. Lac)',
       'Quote QTY', ' Order Recd\Lost ', 'Date DD/MM/YY.3',
       'Order Val. (Rs. Lac)', 'Order QTY',
       'Quote ID (as per match to CCC Records)',
       ' Remarks-Brand and value if lost to UPVC ',
       'Second Action-Call Status.1', 'Remarks', 'Price Per Sft', 'Benefits',
       'Aesthetics', 'Reduce Street Noise', 'Low Maintenance', 'Monsoon Proof',
       'Better Lighting', 'Reduce AC Energy Cost', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', '             '],
      dtype='object')

In [7]:
df.describe()

,Pincode,Q Val. (Rs. Lac),Order Val. (Rs. Lac),Order QTY,Second Action-Call Status.1,Price Per Sft,Aesthetics,Reduce Street Noise,Low Maintenance,Monsoon Proof,Better Lighting,Reduce AC Energy Cost,Unnamed: 40,Unnamed: 41,Unnamed: 42,
count,229.000000,183.000000,48.000000,48.000000,0.0,223.000000,37.000000,37.000000,37.000000,37.000000,37.000000,37.000000,0.0,0.0,0.0,0.0
mean,601742.572052,1.842459,1.874375,10.229167,NaN,1067.363229,0.243243,0.648649,0.486486,0.081081,0.027027,0.162162,NaN,NaN,NaN,NaN
std,6573.378113,2.595590,2.313372,14.925688,NaN,417.155218,0.434959,0.483978,0.506712,0.276725,0.164399,0.373684,NaN,NaN,NaN,NaN
min,600001.000000,0.010000,0.070000,1.000000,NaN,112.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,600033.000000,0.550000,0.530000,2.000000,NaN,920.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,600059.000000,1.070000,1.150000,6.000000,NaN,1032.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,600099.000000,2.000000,1.622500,10.500000,NaN,1129.500000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
max,635810.000000,25.000000,10.950000,73.000000,NaN,5160.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN

In [8]:
df['Price Per Sft'].isnull().sum()

6

In [9]:
# df[''].replace(to_replace='',value=np.nan,inplace=True)
# here the space or special characters can be replaced with Null values

In [10]:
# df[''].fillna(method='ffill')
###.fillna is used to fill missing values in data
####ffil-forward fill
####bfill-backward fill //// ####pad-same as ffill

In [11]:
# df['Price Per Sft'].replace(to_replace

In [12]:
df['Price Per Sft'].describe()

count     223.000000
mean     1067.363229
std       417.155218
min       112.000000
25%       920.000000
50%      1032.000000
75%      1129.500000
max      5160.000000
Name: Price Per Sft, dtype: float64

In [13]:
df['Price Per Sft'].fillna(value=1032,inplace=True)

In [14]:
df['Price Per Sft'].isnull().sum()

0

In [15]:
df[df['Price Per Sft']==1032]['Price Per Sft']

26     1032.0
45     1032.0
53     1032.0
66     1032.0
115    1032.0
122    1032.0
129    1032.0
Name: Price Per Sft, dtype: float64

In [16]:
#isnumeric(),isalpha()

# in excel-select data-ctrl+shift+L-gives empty values

In [17]:
#data cleaning...
##Data has Nan's

df.isnull().sum()

Month                                          0
Enquiry Date                                   0
Enquiry Id                                     0
Allocation Status                              0
Status                                         0
State                                          0
City                                           0
Pincode                                        0
Type of Project                                0
No of Windows                                  0
Source                                         0
Zone                                           0
Dealer Name                                    0
First Action-Call made                         0
Date DD/MM/YY                                  0
First Action-Call Status                       0
Date of Appointment (DD/MM/YY)                37
Second Action-Customer Meeting                37
Date DD/MM/YY.1                               37
Second Action-Call Status                     38
Third Action-Quote Given                      40
Date DD/MM/YY.2                               41
Q Val. (Rs. Lac)                              46
Quote QTY                                     46
 Order Recd\Lost                               0
Date DD/MM/YY.3                              181
Order Val. (Rs. Lac)                         181
Order QTY                                    181
Quote ID (as per match to CCC Records)       113
 Remarks-Brand and value if lost to UPVC     106
Second Action-Call Status.1                  229
Remarks                                       58
Price Per Sft                                  0
Benefits                                     176
Aesthetics                                   192
Reduce Street Noise                          192
Low Maintenance                              192
Monsoon Proof                                192
Better Lighting                              192
Reduce AC Energy Cost                        192
Unnamed: 40                                  229
Unnamed: 41                                  229
Unnamed: 42                                  229
                                             229
dtype: int64

In [18]:
df['Second Action-Call Status'].describe()

count                       191
unique                        3
top       Quote to Be Submitted
freq                        189
Name: Second Action-Call Status, dtype: object

In [19]:
df['Second Action-Call Status'].replace(to_replace='',value=np.nan,inplace=True)

In [20]:
df['Second Action-Call Status'].describe()

count                       191
unique                        3
top       Quote to Be Submitted
freq                        189
Name: Second Action-Call Status, dtype: object

In [21]:
df['Second Action-Call Status'].isnull().sum()

38

In [22]:
df['Second Action-Call Status'].fillna(value='Quote to Be Submitted',inplace=True)

In [23]:
# df[df['Second Action-Call Status']=='On']
df[['Second Action-Call Status']]

    Second Action-Call Status
0       Quote to Be Submitted
1    Further Meeting Required
2       Quote to Be Submitted
3       Quote to Be Submitted
4       Quote to Be Submitted
..                        ...
224     Quote to Be Submitted
225     Quote to Be Submitted
226     Quote to Be Submitted
227     Quote to Be Submitted
228     Quote to Be Submitted

[229 rows x 1 columns]

In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline #(pragma ...check??)

UsageError: unrecognized arguments: #(pragma ...check??)

In [1]:
df.columns()

NameError: name 'df' is not defined

In [26]:
df['Source'].value_counts()

Internet               124
Friends or Family       98
Just dial                6
Current User             1
Name: Source, dtype: int64

In [27]:
df['Remarks'].value_counts()

Price Issue                      101
Budget Constraint                 26
Design Infeasibility              23
Price issue                        7
Delivery Issue                     3
$                                  2
No Requirment                      2
No Requirement                     1
Design Not Feasible                1
Others                             1
Delivery Issve                     1
Service Infeasibility              1
Design Infeasibe My                1
No Requirement-Awareness Call      1
Name: Remarks, dtype: int64

In [28]:
df['City'].value_counts()

CHENNAI           144
KANCHIPURAM        44
THIRUVALLUR        24
VELLORE             6
KRISHNAGIRI         3
TIRUVANNAMALAI      2
VILLUPURAM          2
                    2
CUDDALORE           1
PONDICHERRY         1
Name: City, dtype: int64

In [29]:
df.columns

Index(['Month', 'Enquiry Date', 'Enquiry Id', 'Allocation Status', 'Status',
       'State', 'City', 'Pincode', 'Type of Project', 'No of Windows',
       'Source', 'Zone', 'Dealer Name', 'First Action-Call made',
       'Date DD/MM/YY', 'First Action-Call Status',
       'Date of Appointment (DD/MM/YY)', 'Second Action-Customer Meeting',
       'Date DD/MM/YY.1', 'Second Action-Call Status',
       'Third Action-Quote Given', 'Date DD/MM/YY.2', 'Q Val. (Rs. Lac)',
       'Quote QTY', ' Order Recd\Lost ', 'Date DD/MM/YY.3',
       'Order Val. (Rs. Lac)', 'Order QTY',
       'Quote ID (as per match to CCC Records)',
       ' Remarks-Brand and value if lost to UPVC ',
       'Second Action-Call Status.1', 'Remarks', 'Price Per Sft', 'Benefits',
       'Aesthetics', 'Reduce Street Noise', 'Low Maintenance', 'Monsoon Proof',
       'Better Lighting', 'Reduce AC Energy Cost', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', '             '],
      dtype='object')

In [30]:
todrop=['Month', 'Pincode','Enquiry Date', 'Enquiry Id', 'State','Zone','First Action-Call made',
       'Date DD/MM/YY', 'First Action-Call Status',
       'Date of Appointment (DD/MM/YY)', 'Second Action-Customer Meeting',
        'Date DD/MM/YY.3',
       'Order Val. (Rs. Lac)', 'Order QTY',
       'Quote ID (as per match to CCC Records)',
       ' Remarks-Brand and value if lost to UPVC ',
       'Second Action-Call Status.1', 'Remarks', 'Price Per Sft', 'Benefits','Aesthetics', 'Reduce Street Noise', 'Low Maintenance', 'Monsoon Proof','Date of Appointment (DD/MM/YY)', 'Second Action-Customer Meeting','Date DD/MM/YY.1','Quote ID (as per match to CCC Records)', 'Aesthetics', 'Reduce Street Noise', 'Low Maintenance', 'Monsoon Proof','Better Lighting', 'Reduce AC Energy Cost', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', '             ']

df.drop(columns=todrop,inplace=True)

In [31]:
df

,Allocation Status,Status,City,Type of Project,No of Windows,Source,Dealer Name,Second Action-Call Status,Third Action-Quote Given,Date DD/MM/YY.2,Q Val. (Rs. Lac),Quote QTY,Order Recd\Lost
0,Dealer,Won,CHENNAI,Renovation,6 to 10,Friends or Family,Sunbird,Quote to Be Submitted,yes,06-Apr-16,0.72,3,Order Received
1,Dealer,Lost,CHENNAI,New Construction,6 to 10,Just dial,Winfratech,Further Meeting Required,NaN,NaN,NaN,NaN,Lost to Aluminum
2,Dealer,Lost,CHENNAI,New Construction,1 to 5,Current User,Sunbird,Quote to Be Submitted,yes,12-Apr-16,8.40,42,Delivery Time Not Possible
3,Direct,Lost,KANCHIPURAM,New Construction,21 to 40,Friends or Family,Direct,Quote to Be Submitted,yes,12-Apr-16,2.00,9,Lost to Aluminum
4,Direct,Won,CHENNAI,Renovation,6 to 10,Internet,Sunbird,Quote to Be Submitted,yes,15-Apr-16,1.63,8,Order Received
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Dealer,Lost,CHENNAI,Renovation,11 to 20,Friends or Family,Direct,Quote to Be Submitted,yes,23-Jan-17,3.50,16,Lost to Aluminum
225,Direct,Won,CHENNAI,Renovation,1 to 5,Internet,Direct,Quote to Be Submitted,YES,29-Jan-17,4.50,9,Order Received
226,Direct,?,CHENNAI,Renovation,1 to 5,Friends or Family,Direct,Quote to Be Submitted,NaN,NaN,NaN,NaN,Lost to Aluminum
227,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,OXXO,Quote to Be Submitted,yes,01-Feb-17,0.26,1,Product Issue-Design/Type
228,Direct,Lost,KANCHIPURAM,New Construction,1 to 5,Friends or Family,Direct,Quote to Be Submitted,yes,28-Jan-17,0.20,2,Lost to UPVC (Provide details)

In [32]:
df['Status'].value_counts()

Lost    172
Won      52
?         5
Name: Status, dtype: int64

In [33]:
df['Status'].replace(to_replace='?',value=np.nan,inplace=True)

In [34]:
df['Status'].value_counts()

Lost    172
Won      52
Name: Status, dtype: int64

In [35]:
 df['Status'].isnull().sum()

5

In [36]:
df['Status'].fillna(value='Lost',inplace=True)

In [37]:
df['Status'].value_counts()

Lost    177
Won      52
Name: Status, dtype: int64

In [38]:
df.describe()

       Q Val. (Rs. Lac)
count        183.000000
mean           1.842459
std            2.595590
min            0.010000
25%            0.550000
50%            1.070000
75%            2.000000
max           25.000000

In [39]:
df['Q Val. (Rs. Lac)'].isnull().sum()

46

In [41]:
df['Q Val. (Rs. Lac)'].fillna(value=1.07,inplace=True)

In [42]:
df[df['Q Val. (Rs. Lac)']==1.07]

,Allocation Status,Status,City,Type of Project,No of Windows,Source,Dealer Name,Second Action-Call Status,Third Action-Quote Given,Date DD/MM/YY.2,Q Val. (Rs. Lac),Quote QTY,Order Recd\Lost
1,Dealer,Lost,CHENNAI,New Construction,6 to 10,Just dial,Winfratech,Further Meeting Required,NaN,NaN,1.07,NaN,Lost to Aluminum
5,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Rajtechnis,Quote to Be Submitted,yes,15-Apr-16,1.07,NaN,Lost to UPVC (Provide details)
6,Dealer,Lost,CHENNAI,New Construction,11 to 20,Just dial,Sunbird,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Wooden
8,Dealer,Lost,CHENNAI,Renovation,1 to 5,Just dial,Sunbird,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
15,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Sunbird,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
23,Dealer,Lost,CHENNAI,New Construction,1 to 5,Internet,Winfratech,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
24,Dealer,Lost,CHENNAI,Renovation,1 to 5,Internet,Sunbird,Quote to Be Submitted,NaN,NaN,1.07,NaN,Product Issue-Design/Type
28,Direct,Lost,CHENNAI,New Construction,11 to 20,Friends or Family,Pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum
51,Dealer,Lost,CHENNAI,New Construction,1 to 5,Internet,Sunbird,Quote to Be Submitted,NaN,NaN,1.07,NaN,Product Issue-Design/Type
58,Dealer,Lost,CHENNAI,Renovation,21 to 40,Friends or Family,Sunbird,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Wooden
69,Dealer,Lost,THIRUVALLUR,New Construction,1 to 5,Internet,ITP,Quote to Be Submitted,NaN,NaN,1.07,NaN,Product Issue-Design/Type
71,Direct,Lost,KANCHIPURAM,New Construction,1 to 5,Internet,Direct,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
74,Dealer,Lost,KANCHIPURAM,Renovation,1 to 5,Friends or Family,Winfratech,Quote to Be Submitted,NaN,NaN,1.07,NaN,Product Issue-Design/Type
82,Dealer,Lost,CHENNAI,Renovation,1 to 5,Internet,Rajtechnis,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
86,Dealer,Lost,VELLORE,New Construction,11 to 20,Friends or Family,Windoors,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
87,Dealer,Lost,KANCHIPURAM,Renovation,1 to 5,Internet,Winfratech,Design not Feasible,NaN,NaN,1.07,NaN,Product Issue-Design/Type
88,Dealer,Lost,KANCHIPURAM,Renovation,1 to 5,Friends or Family,ITP,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
90,Dealer,Lost,THIRUVALLUR,Renovation,1 to 5,Internet,Windoors,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum
91,Dealer,Lost,CHENNAI,Renovation,1 to 5,Internet,ITP,Quote to Be Submitted,NaN,NaN,1.07,NaN,Product Issue-Design/Type
92,Dealer,Lost,CHENNAI,Renovation,1 to 5,Internet,ITP,Quote to Be Submitted,NaN,NaN,1.07,NaN,Product Issue-Design/Type
93,Dealer,Lost,CHENNAI,New Construction,11 to 20,Internet,Pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
94,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Winfratech,Quote to Be Submitted,NaN,NaN,1.07,NaN,Product Issue-Design/Type
95,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Delivery Time Not Possible
101,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum
107,Dealer,Lost,CHENNAI,Renovation,6 to 10,Internet,Rajtechnis,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
116,Dealer,Lost,CHENNAI,New Construction,1 to 5,Friends or Family,Winfratech,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum
125,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Wooden
133,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Windoors,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum
138,Dealer,Lost,CHENNAI,,1 to 5,Friends or Family,Pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
139,Dealer,Won,CHENNAI,Renovation,1 to 5,Internet,Sunbird,Quote to Be Submitted,yes,19-Oct-16,1.07,2,Order Received
140,Direct,Lost,CHENNAI,Renovation,1 to 5,Internet,Direct,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
141,Dealer,Lost,CHENNAI,Renovation,1 to 5,Internet,Winfratech,Quote to Be Submitted,yes,30-Sep-16,1.07,NaN,Lost to UPVC (Provide details)
145,Dealer,Lost,THIRUVALLUR,Renovation,1 to 5,Internet,Windoors,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum
150,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Winfratech,Quote to Be Submitted,YES,NaN,1.07,NaN,Product Issue-Design/Type
160,Dealer,Lost,THIRUVALLUR,New Construction,1 to 5,Internet,ITP,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
162,Dealer,Lost,CHENNAI,Renovation,1 to 5,Internet,pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
164,Dealer,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,pearlson,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
170,Direct,Lost,CHENNAI,Renovation,6 to 10,Friends or Family,Direct,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
177,Dealer,Lost,THIRUVALLUR,New Construction,21 to 40,Friends or Family,OXXO,Quote to Be Submitted,yes,01-Dec-16,1.07,NaN,Lost to UPVC (Provide details)
183,Direct,Won,CHENNAI,New Construction,100 +,Internet,Sunbird,Quote to Be Submitted,yes,29-Jan-00,1.07,NaN,Order Received
184,Dealer,Lost,THIRUVALLUR,New Construction,21 to 40,Internet,OXXO,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
188,Dealer,Lost,CHENNAI,Renovation,1 to 5,Internet,pearlson,Quote to Be Submitted,yes,12-Dec-16,1.07,NaN,Product Issue-Design/Type
209,Direct,Lost,KANCHIPURAM,Renovation,1 to 5,Friends or Family,Direct,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
214,Direct,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Direct,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum
219,Direct,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Direct,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Wooden
223,Dealer,Lost,CHENNAI,Renovation,6 to 10,Internet,Winfratech,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to UPVC (Provide details)
226,Direct,Lost,CHENNAI,Renovation,1 to 5,Friends or Family,Direct,Quote to Be Submitted,NaN,NaN,1.07,NaN,Lost to Aluminum

In [43]:
df.isnull().sum()

Allocation Status             0
Status                        0
City                          0
Type of Project               0
No of Windows                 0
Source                        0
Dealer Name                   0
Second Action-Call Status     0
Third Action-Quote Given     40
Date DD/MM/YY.2              41
Q Val. (Rs. Lac)              0
Quote QTY                    46
 Order Recd\Lost              0
dtype: int64

In [45]:
df['Quote QTY'].isnull().sum()

46

In [46]:
df['Quote QTY'].replace(to_replace='',value=np.nan,inplace=True)

In [47]:
df['Quote QTY'].isnull().sum()

46

In [53]:
df['Quote QTY'].mode()

0    1
dtype: object

In [ ]:
df['Quote QTY'].fillna(value=)